VITE_CONTRACT_ADDRESS=
VITE_SOMNIA_RPC_URL=https://dream-rpc.somnia.network/
VITE_SOMNIA_WS_URL=wss://dream-rpc.somnia.network/ws
VITE_CHAIN_ID=50312
VITE_REACTOR_CONTRACT_ADDRESS=0x_your_deployed_CannonReignReactor_address
